{% extends 'base.html.twig' %}

{% block title %}Hello ReaderController!
{% endblock %}

{% block body %}

	<h1>ADD your new reader</h1>


	{{ form_start(form) }}
	{{ form_widget(form) }}
	<input type="submit" value="Add">
	{{ form_end(form) }}
	<a href="/reader">Retour</a>

{% endblock %}